/*--
    Common Css
--*/

.mt-100 {
  margin-top: 100px; }


a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none; }

a,
a:active,
a:focus,
a:active {
  text-decoration: none; }

.section {
  padding: 100px 0; }

/*--
    custom heading
--*/
.text-center {
  text-align: center; }


.subheading {
  color: #3c3c3c;
  padding-bottom: 15px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 32px;
  line-height: 45px; }

.btn {
  border-radius: 0; }

.btn-main {
    background: linear-gradient(-1deg, #b419b78f,#007db98c);z-index: -1;
    border: none;
    color: whitesmoke;
    border-radius: 25px;
    margin-top: 27px;
}
.btn-main:hover, .btn-main:focus {
    background: linear-gradient(-1deg, #b419b78f,#007db98c);z-index: -1;
    box-shadow: 1px 4px 17px -4px grey;
    color: #fff; }

.btn-main-sm {
  padding: 12px 35px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold; }

/*Preloader*/
#preloader-wrapper {
  background-color: #fff;
  bottom: auto;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: auto;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; }

.pre-loader {
  width: 130px;
  height: 130px;
  background: #f9a743;
  border-radius: 50%;
  animation: loading 6s infinite reverse linear;
  position: relative;
  font-family: "themefisher-font" !important; }
  .pre-loader:before {
    content: "\f3bd";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    font-size: 40px;
    transform: translate(-50%, -50%);
    color: #fff; }

@keyframes loading {
  /*  */
  0% {
    box-shadow: inset 0 0 0 80px #f9a743; }
  8.49% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743; }
  /* orange */
  8.5% {
    box-shadow: inset 0 0 0 0 #ff8133; }
  24.99% {
    background: #ff8133;
    box-shadow: inset 0 0 0 160px #ff8133; }
  /* yellow */
  25% {
    box-shadow: inset 0 0 0 0 #ffbe1a; }
  41.49% {
    background: #ffbe1a;
    box-shadow: inset 0 0 0 160px #ffbe1a; }
  /*  */
  41.5% {
    box-shadow: inset 0 0 0 0 #f9a743; }
  57.99% {
    background: #f9a743;
    box-shadow: inset 0 0 0 160px #f9a743; }
  /* blue */
  58% {
    box-shadow: inset 0 0 0 0 #00b5d9; }
  74.49% {
    background: #00b5d9;
    box-shadow: inset 0 0 0 160px #00b5d9; }
  /* purple */
  74.5% {
    box-shadow: inset 0 0 0 0 #9772e5; }
  90.99% {
    background: #9772e5;
    box-shadow: inset 0 0 0 160px #9772e5; }
  /*  */
  91% {
    box-shadow: inset 0 0 0 0 #f9a743; }
  100% {
    background: #f9a743;
    box-shadow: inset 0 0 0 80px #f9a743; } }

/*--
    .hero-area start
--*/
.hero-area {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-area h1 {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 19px;
    margin-top: 30px;
    line-height: 1.2; }
  .hero-area p {
    font-size: 20px;
    line-height: 1.3; }
  .hero-area .btn-main {
    margin-top: 30px; }

/* .hero-area  */
.navigation {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 50px;
  margin: 0;
  border: 0; }
  .navigation .navbar-brand {
    display: inline-block; }
  .navigation .navbar-toggler {
    background: #fff;
    outline: none;
    border-radius: 0;
    float: right; }
    .navigation .navbar-toggler i {
      font-size: 22px; }

.logo {
  display: inline-block; }
  .logo h1 {
    color: #444;
    font-size: 25px;
    margin: 0;
    line-height: 1; }

.menu {
  margin-top: 14px; }
  .menu li {
    display: inline-block;
    margin: 0 10px; }
    .menu li a {
      color: #444;
      font-size: 14px;
      font-weight: bold; }
      .menu li a:hover, .menu li a:focus {
        background: none; }

/*--
    feature start
--*/
.feature.section {
  padding-bottom: 100px; }

.feature .feature-box {
  margin-bottom: 40px; }
  .feature .feature-box i {
    font-size: 30px;
    margin-bottom: 10px;
    display: inline-block; }
  .feature .feature-box h4 {
    font-weight: bold;
    margin-bottom: 8px; }
  .feature .feature-box p {
    line-height: 1.1; }

.promo-details {
  background: #f9a743; }
  .promo-details h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 0;
    text-align: left; }
  .promo-details p {
    color: #fff;
    font-size: 18px; }

/*--
    Feature-list start
--*/
.feature-list .btn-main {
  margin-top: 15px; }

/*--
  Gallery start
--*/
